extends base

block content
  .admin-container
    .admin-box
      h1.admin-title Add New Question
      form#questionForm.admin-form(enctype="multipart/form-data")
        .form-group
          label.form-label(for="statement") Problem Statement
          textarea#statement.admin-input(
            name='problem'
            placeholder='Enter the question'
            rows='4'
          )

        .form-group
          label.form-label(for="answer") Answer
          input#answer.admin-input(
            type='text'
            name='answer'
            placeholder='Answer (lowercase)'
            required
          )

        .form-group
          label.form-label(for="hint") Hint
          input#hint.admin-input(
            type='text'
            name='hint'
            placeholder='Provide a hint for players'
            required
          )

        .form-group
          label.form-label(for="level") Level Number
          input#level.admin-input(
            type='number'
            name='level'
            placeholder='Enter level number'
            min="0"
            required
          )

        .form-group
          label.form-label(for="image") Question Image
          .file-input-wrapper
            input#image.file-input(
              type='file'
              name='image'
              accept='image/*'
            )
            span.file-input-text Choose an image...

        button.admin-button(type="submit")
          span.button-text
            i.fas.fa-plus
            | Add Question
